<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yandre.kubsau">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".signup.SignupActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lesson.LessonActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".teacher.TeacherActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addchangelesson.AddChangeLessonActivity"
            android:label="Редактирование занятий" />
        <activity android:name=".regorlogin.RegOrLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".notes.NoteCardActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".myinformation.MyInformationActivity" />
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".map.MapActivity" />
        <!-- <activity android:name=".academicperfomance.AcademicPerfomanceFrag"></activity> -->
    </application>

</manifest>